@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Navigation Button</title>
            <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

        </head>
       @*  <body>
            <ul class="nav">
                <li class="nav-item">
                    <a id="manage" class="nav-link box-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        Hello @UserManager.GetUserName(User)!
                    </a>
                </li>
            </ul>
        </body> *@
    </html>
    <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "MyTasks", new { area = "" })">
            <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Navigation Button</title>
                <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file -->
            </head>
            <body>
                <div class="nav-container">
                    <ul class="nav">
                        <li class="nav-item">
                                <a id="manage" class="nav-link box-link green-bg text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                    Hello @UserManager.GetUserName(User)!
                                </a>
                            <button id="logout" type="submit" class="btn btn-logout red-bg text-white">Logout</button>
                        </li>
                        <!-- Other navigation items can go here -->
                    </ul>
                </div>
            </body>
        </html>

        </form>
    </li>
}
else
{
    @* <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li> *@

        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Navigation Buttons</title>
            <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
            <!-- Link your CSS file -->
        </head>
        <body>
            <div class="row">
                <div class="col-10">

                </div>
               @*  <div class="col-2">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn btn-orange" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-orange" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    </ul>

                </div> *@
            <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=2.0">
                <title>Styled Buttons</title>
                <!-- Link to Bootstrap CSS -->
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
                <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
            </head>
            <body>
                <div class="container mt-3">
                    <div class="col-4">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link btn btn-blue" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-blue" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </body>
        </html>

            </div>
        </body>

    </html>


}
</ul>
